.empty {
    background-color: #EEEEEE;

    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    grid-template-rows: auto auto auto;

}

.message {
    padding: 1em;
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
}