.search {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0;
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
}

.gene-list {
    width: 100%;
}

.gene-list-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
}
