.home {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  color: #555555;
  font-size: calc(10px + 2vmin);
}

.main-container {
  width: 100%;
    height: 100%;
  display: flex;
  flex-direction: row;
}

.input {
  background-color: #FFFFFF;
  flex-grow: 1;
}

.results {
  flex-grow: 2;
  background-color: #EEEEEE;
}

.home-logo {
  height: 10vmin;
}

.home-header {
}

.home-link {
  color: #61dafb;
}

.title {
  color: red;
}
