.container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: min-content 1fr;
}

.start-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10em;
}

.start-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.start-title-text {
  color: #444444 !important;
  font-weight: 300 !important;
  font-style: italic !important;
  font-size: 4em !important;
}

.start-logo {
  height: 10em;
}

.search-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vmin;
  padding: 0.3em;
}

.input-container {
  padding-top: 6.5vmin;
  grid-column: 1/3;
  grid-row: 2/3;
  grid-gap: 0;
  height: 100vh;
}

.results-container {
  padding-top: 6.5vmin;
  grid-column: 3/8;
  grid-row: 2/3;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.home-logo {
  height: 10vmin;
}

.home-header {
}

.home-link {
  color: #61dafb;
}

.title {
  color: red;
}
