.home {
  height: 100vmin;
  background-color: #FFFFFF;
  color: #555555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.home-logo {
  height: 10vmin;
}

.home-header {
}

.home-link {
  color: #61dafb;
}

.title {
  color: red;
}
