.ndex-base {
  background-color: #ffffff;
  display: flex;
  height: 100vmin;
  position: relative;
  right: 0;
}

.table-browser {
  background-color: #EFEFEF;
}

.table-browser-panel {
  height: 100%;
}

.network-info {
  background-color: #ffffff;
  display: inline-flex;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  height: calc(100% - 28px);
}

.node-info {
  display: inline-flex;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

.edge-info {
  display: inline-flex;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

.edge-info-panel {
  padding: 0.2em;
  background-color: #FFFFFF;
  overflow-y: auto;
  overflow-x: visible;
  width: 100%;
  margin-left: 0; 
}

.node-info-panel {
  padding: 0.2em;
  box-sizing: content-box;
  background-color: #FFFFFF;
  overflow-y: auto;
  overflow-x: visible;
  width: 100%;
}

.network-info-panel {
  box-sizing: content-box;
  background-color: #FFFFFF;
  overflow-y: auto;
  overflow-x: visible;
}

.network-view-top {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  position: relative;
  bottom: 0;
  right: 0;
}

.nv-container {
  top: 4em;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  position: absolute;
}

.network-viewer {
  width: 100%;
  height: 100%;
}

.property-view {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


.network-list-wrapper {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

.network-list {
  box-sizing: content-box;
  height: 100%;
  overflow-y: auto;
}

.list-icon {
  object-fit: scale-down;
  width: 3.5em;
  height: 3.5em;
  padding: 0;
  margin: 0;

}

.listTitle {
  font-weight: bold;
  font-size: 1.5em;
  color: #333333;
}

.gutter {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
  background-repeat: no-repeat;
}

.sorter-container {
  background: red;
  height: 3em;
  width: 100%;
}

.outer-rectangle {
  background-color: #ffffff;
  display: inline-flex;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  height: calc(100% - 28px);
}

.inner-rectangle {
  box-sizing: content-box;
  background-color: #FFFFFF;
  overflow-y: auto;
  overflow-x: visible;
  width: 100%;
}

.wide-list {
  width: 100%;
  padding: 0 0 0 0;
}