.ndex-base {
  background-color: #ffffff;
  display: flex;
  height: 100vmin;
}

.network-view-top {
  width: 100%;
  height: 100%;
  padding-bottom: 3em;
}

.nv-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.network-viewer {
  width: 100%;
  height: 100%;
}

.property-view {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


.network-list-wrapper {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

.network-list {
  box-sizing: content-box;
    height: 100%;
  overflow-y: auto;
}

.list-icon {
  object-fit: scale-down;
  width: 3.5em;
  height: 3.5em;
  padding: 0;
  margin: 0;

}

.listTitle {
  font-weight: bold;
  font-size: 1.5em;
  color: #333333;
}

.gutter {
  margin: 0;
  padding: 0;
  background-color: rgba(230, 230, 230, 0.5);
  background-repeat: no-repeat;
}

.sorter-container {
  background: red;
  height: 3em;
  width: 100%;
}
