.ndex-base {
  background-color: #ffffff;
  display: flex;

  height: 100vmin;
  position: relative;

}

.network-view {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.network-list {
  height: 100%;
  overflow: auto;
}

.gutter {
  margin: 0;
  padding: 0;
  background-color: rgba(230, 230, 230, 0.5);
  background-repeat: no-repeat;
}
