.input-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
.gene-list-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 0em;
  padding-top: 1.295em;
  /*padding-top: 1.6em;
  padding-bottom: 1.4em;*/
  font-weight: 500;
  color: #333333;
  font-size: 0.8125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /*border-right: 7px solid #EFEFEF;
  background-color: #EFEFEF;  */
}
