.container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content 1fr;
}

.start-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8em;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-panel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 2.8em;
  color: #333333;
}

.padding {
  padding-top: 16px;
}

.heightChild {
  flex: 1;
  overflow: auto;
}

.start-title {
  width: 70vmax;
  min-width: 30em;
  max-width: 60em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-title-text {
  color: #444444 !important;
  font-weight: 300 !important;
  font-style: italic !important;
  font-size: 4em !important;
}

.start-logo-main {
  height: 9em;
}

.start-logo {
  height: 4em;
}


/*
    For SearchTextBox
 */

.search-text-panel {
  padding: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  width: 100%;
}

.query-example-panel {
  width: 100%;
  padding-top: 1em;

}

.source-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
}

.source-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width:70%;
  margin-top: 1em;
  padding: 3em;
}

.results-container {
  padding-top: 4.5em;
  grid-column: 1/13;
  grid-row: 2/3;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.headerless-results-container {
  padding-top: 0;
  grid-column: 1/13;
  grid-row: 2/3;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.home-logo {
  height: 10vmin;
}

.home-header {
}

.home-link {
  color: #61dafb;
}

.title {
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.footer-logo {
  height: 2em;
  padding-left: 1em;
  cursor: pointer;
}

a {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.example-link {
  color: #00A1DE;
}
.example-text {
  padding-right: 1.2em;
}
/*
.example-text:hover {
  cursor: pointer;
}
*/
.query-examples {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00A1DE;
}

.search-text-caption {
  padding-top: 7em;
}

.search-text-note {
  width: 85%;
}

.description-panel {
  width: 90%;
  padding-bottom: 3em;
}
